<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
        <a href="/">Home page</a>
        <a href="/reserve">reserve page</a>
    <h2>Tables</h2>
    <div id="tables"></div>
    <h2>Waitlist</h2>
    <div id="waitlist"></div>
    <script src="/js/tableScript.js"></script>
</body>
</html>